header
{

	margin-top: 0px;
	width: 100%;
	background: linear-gradient( rgb(0,0,0,0.5),rgb(0,0,0,0.5)),url('top_bg.jpg');
	height: 420px;
	background-position: bottom;
	background-size: 100% 440px;
}
#button_container{
	margin-left: 830px;
	margin-top: 50px;
}
#button_container a{
	font-family:Berlin Sans FB Demi;
	border-right : 1px solid;
	cursor: pointer;
	text-decoration: none;
	font-size: 16px;
	float: left;
	text-align: center;
	line-height: 40px;
	color: white;
	width: 120px;
	height: 40px;
	transition-property: font-size,color;
	transition-duration: .3s,.3s;

}
#button_container a:hover{
	font-size: 22px;
	color: #F2B186;
}
font.welcome{
	font-size: 25px;
	color: white;
}
#content_container{
	margin-top: 30px;
	width: 100%;
	height: 100px;


}
.hrbeforeNice{
	float: left;
	margin-top: 1px;
	height: 15px;
	width: 100px;
	margin-right: 4px;

}
.home_left hr{
	width: 65%;
	color: #CACACA;
}
div.starthr{
	margin-left: 300px;
	float: left;
	margin-top: 3px;
	height: 30px;
	width: 200px;
	margin-right: 4px;
}
hr{
	size: 2px;
}
div.endhr{
	margin-left: 4px;
	margin-top: 2px;
	margin-right: 4px;
	float: left;
	height: 30px;
	width: 200px
}
.head_container{
	
	text-align: center;
	width: 100%;
	padding-top: 80px;
	height: 100px;
}
font.coffshop{
	width: 100%;
	margin-bottom: 10px;
	float: left;
	color: white;
	height: 20px;
	display: block;
	font-size: 18px;
	display: block;
	text-align: center;
}
font.text{
	color: white;
	float: left;
	font-size: 18px;
	height: 20px;
}
font.name
{
	font-family: Edwardian Script ITC;
	color: white;
	font-size: 80px;
}
footer
{
	margin-left: 0px;
	clear: both;
	width: 100%;
	height: 220px;
	background-color: gray;
}
footer p{
	font-size: 17px;
	text-align: center;
}
.footerhr{
	clear: both;
	height: 30px;
	width: 100%;
	padding-top: 60px;
}
address{
	height: 60px;
	width: 100%;
}
.emailaddress{
	font-family: Berlin Sans FB;
	color:	#3A3A3A;
	float: left;
	width: 580px;
	height: 60px;
	margin-top: 20px;
	margin-left: 40px;
}
.location{
	font-family: Berlin Sans FB;
	color:	#3A3A3A;
	float: left;
	height: 60px;
	width: 700px;
	margin-left: 10px;
	margin-top: 20px;
}
.copyright{
	color: white;
	text-align: center;
	width: 100%;
	height: 30px;
}








section{
	margin-top: 15px;
	height: 1890px;
	margin-bottom: 15px;
	text-align: center;
	background-color: white;
	border-right: 30px;
}
.menuheader{
	width: 100%;
	height: 140px;
}
.starthr_menu{
	margin-left: 340px;
	float: left;
	margin-top: 3px;
	height: 30px;
	width: 300px;
	margin-right: 10px;
}

.endhr_menu{
	margin-left: 50px;
	margin-top: 2px;
	margin-right: 4px;
	float: left;
	height: 30px;
	width: 300px
}
.menu{
	font-family: Bodoni MT Black;
	color: #FC1003;
	margin-bottom: -20px;
	display: block;
	width: 100%;
	font-size: 27px;
	line-height: 100px;
}
.imgleft{
	width: 250px;
	height: 200px;
	float: left;
	margin-left: 40px;
	margin-top: 24px;
}
.textright{
	margin-left: 30px;
	height: 150px;
	padding-top: 49px;
	line-height: 24px;
	float: left;
	vertical-align: center;
}
.imgright{
	margin-top: 24px;

	width: 250px;
	height: 200px;
	float: right;
	margin-top: 24px;
	margin-right: 40px;
}
.textleft{
	margin-right: 30px;
	height: 150px;
	padding-top: 49px;
	line-height: 24px;
	float: right;
	vertical-align: center;

}
.right_container p,.left_container p{
	font-size: 20px;

}
.price{
	font-size: 24px;
	color: red;
	padding-left: 10px;
}
.left_container{
	background-color: white;
	margin-top: 40px;
	height: 250px;
	width: 600px;
	border-radius: 20px;
	border: 1px solid gray;
	margin-left: 640px;
}
.right_container
{
	background-color: white;
	border-radius: 20px;
	margin-top: 40px;
	height: 250px;
	width: 600px;
	border: 1px solid gray;
	margin-left: 85px;
}
img{
	height: 200px;
	width: 250px;
	border-radius: 15px;
}