.platform
{
    width: 100%;
    height: 680px;
    text-align: center;
    background-image: url(back.jpg);
    background-repeat: round;
    
}

.mainBlock
{
    margin-top: 100px;
    display: inline-block;
    text-align: center;
}

.panel-1
{
    float: left;
    width: 400px;
    height: 450px;
    background-color: #FFFFFF;
}

.panel-2
{
   float: left;
    width: 400px;
    height: 450px;
    
    background-color: #FFFFFF;
}

.player-name
{
    font-size: 30px;
    font-family: monospace;
    margin-top: 90px;
    margin-bottom: 30px; 
}

.player1-score,.player2-score
{
    float: center;
    font-size: 70px;
    font-family: Lato;
    color: red;
    display: block;
}

.scoreBlock
{
   
    margin-top: 90px;
    width: 90px;
    height: 60px;
    text-align: center;
    display: inline-block;
    background-color: #FC332E;
}
#currentScore-1,#currentScore-2
{
    display: block;
    margin-top: 10px;
    color: white; 
    font-family: lato;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn_new
{
    font-weight: 300;
    position:absolute;
    left:  47%;
    top: 120px;
    font-family: Lato;
    font-size: 20px;
    border: none;
    background: none;
}

.btn_rollDice
{
    position:absolute;
    left: 47%;
    top: 430px;
    font-family: Lato;
    background: none;
    border: none;
}

.btn_holdon
{
    position:absolute;
    left: 47%;
    top:470px;
    font-family: Lato;
    background: none;
    border: none;
}




.dice1
{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 47%;
    margin-top: 200px;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.10);
}

.dice2
{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 47%;
    margin-top: 310px;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.10);
}

#final-score
{
    position: absolute;
    left: 44%;
    margin-top: 500px;
    text-align: center;
    
}


.active { background-color: #f7f7f7; }
.active .player-name { font-weight: 300; }
.active .player-name ::after
{
  content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #EB4D4D;
    top: -7px;
    right: 10px;
}

.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #EB4D4D; }

